@media screen and (max-width:1008px)  {
  header .top-header .logo {
    margin-left: 5px;
  }
  header .top-header nav {
    float:  none;
  }
  
  header .top-header .social-icons {
    margin: -50px 19px;
  }
}

@media screen and (max-width:1025px) {
  header .top-header .social-icons {
    margin: -50px 19px;
  }
  .block .item-block .way {
    width: 50%;
    margin-top: 10px;
}
  
  
  .block .item-block .way .info {
    width: 250px;
  }
  
  .services .item-block-2 .item-2 {
    width: 50%;
  }
  
  .services .item-block-2 .item-2 .left {
    margin-left: -270px;
  }
  .services .item-block-2 .item-2 img {
    margin-top: 25px;
  }
}

@media screen and (max-width:1218px) {
  .container {
    padding-left: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@media screen and (max-width:877px)  {
  body {
    font-size: 14px;
  }
  header .top-header nav { 
    display: none;
    width: 80%;
    text-align: center;
    float: none;
    position: absolute;
    top: 90px;
    left: -10px;
    background-color: rgba(176, 193, 211, 0.6);
    z-index: 9999;
  }
  header .top-header .social-icons {
    margin: 30px 19px;
    float: left;
  }
  
  .menu-btn {
    display: inline-block;
    
  }
  header .top-header nav ul.navigation li {
    display: block;
    height: 55px;
  }
  header .top-header nav ul.navigation li a {
    color: #000000;
  }
  header .top-header nav ul.navigation li a:active {
    color: #ff0000;
  }
  header .top-header nav ul.navigation li:hover {
    background: none;
}

 .prices .prices-block .item-block {
    width: 100% ! important;
  }
  
  .prices .prices-block .item-block .bottom a.sign {
    padding: 20px 20px;
  }
  .prices .prices-block .item-block .margin {
    margin-top: 5px;
  }
  
  footer .down {
    top: 10px !important;
  }
}



  @media screen and (max-width:667px) {
    .block .item-block .way {
      width: 100%;
      margin-top: 16px;
}
  }


@media screen and (max-width:320px) {
  body {
    font-size: 8px ! important;
  }
  .about .item-block {
    margin-left: -37px;
  }
  .about .item-block .item p.text {
    width: 310px;
  }
  
  header .top-header .social-icons {
    margin: -3px 34px;
  }
  
  .aaa {
    top: 10px ! important;
  }
  
  footer .down {
    margin-top: -5px ! important;
  }
}
  
@media screen and (min-width:877px) {
  header .top-header nav {
    display: block ! important;
  }
}

@media screen and (max-width:825px) {
  .services .item-block-2 .item-2 .left {
    margin-left: -55%;
  }
}

@media screen and (max-width:544px) {
  .services .item-block-2 .item-2 {
    width: 100%;
  }
 .text-block {
    display: none;
  }
  
  footer .down {
    top: 5px !important;
    right: 10px !important;
  }
  
  .down img {
    width: 40% ! important;
  }
}

@media screen and (max-width:1151px) {
  .about .item-block .item {
    width: 100%;
    margin-left: 10%;
    padding-top: 10px;
  }
  .about {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .prices .prices-block .item-block {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .prices .prices-block .item-block .bottom a.sign {
    padding: 20px;
  }
  
  
  .prices .prices-block .item-block:first-child {
    border-left: 15px solid #efefef;
}
  .prices .prices-block .item-block:last-child {
    border-right: 15px solid #efefef;   
}
  
}

@media screen and (max-width:1191px) {
  .prices .prices-block .item-block .bottom .bg-c {
    padding: 5% 85px;
  }
    .prices .prices-block .item-block h5.content::after {
    right: 115px;
  }
}

@media screen and (max-width:471px) {
  body {
    font-size: 10px;
  }
  
  footer .out {
    margin-top: -9px ! important;
  }
  
  footer .down {
    right: 0 ! important;
    top: 8px ! important; 
  }
}

@media screen and (max-width:920px) {
  .prices .prices-block .item-block h5.content::after {
    right: 25%;
  }
  
  footer .down {
    top: 15px;
    right:  15px;
  }
 .aaa img {
    width: 80%;
  }
  
  .down img {
    width: 60%;
  }
  
}

@media screen and (max-width:722px) {
  .subsccribe {
    margin-top: 10px !important;
  }
}